name: Build by matrix
on:
  pull_request:
  push:
    tags:
      - v*
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.23.x]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Go build
      run: go build ./cmd/probe/main.go
