name: End-to-end Testing

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      options:
        description: 'Additional options for probe (e.g., --verbose)'
        required: false
        default: ''
        type: string

jobs:
  test:
    name: Test all workflows in examples dir
    runs-on: ubuntu-latest
    steps:
    - name: Install protoc
      run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
    - name: Setup Chrome
      uses: browser-actions/setup-chrome@latest
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: 1.25
    - name: Build probe
      run: CGO_ENABLED=1 go build -o probe ./cmd/probe/...
    - name: Run E2E tests with xvfb
      uses: GabrielBB/xvfb-action@v1
      with:
        run: ./probe testdata/e2e-test.yml ${{ github.event.inputs.options }}
